<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage">
        <Configuration>
          <Format>cobertura</Format>
          <Include>[Robotico.Repository.Mishima]*</Include>
          <Exclude>[Robotico.Result]*,[Robotico.Domain]*,[Robotico.Repository]*,[xunit.*]*,[coverlet.*]*,[MishimaDocs]*</Exclude>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
